
/* OVERLAY OSCURO */
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.cart-container {
  position: relative;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer; /*convierte el raton en una mano*/
  font-size: 20px; /*tamaño del icono*/
  position: relative;
}

.cart-badge {
  position: absolute; /*Respecto al container*/
  top: -6px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 2px 6px;
}