





.cart__book {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  padding-top: 10px;
}


.book__image {
  width: 75px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.book__info {
  flex: 1;
}

.info__name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.info__price {
  font-size: 13px;
  color: #555;
}




.info__add-button ,.info__remove-button {
  background: none;
  border: none;
  cursor: pointer; /*convierte el raton en una mano*/
  font-size: 20px; /*tamaño del icono*/
  position: relative;
  padding:0px;
  margin: 12px;
}

.info__add-button:hover,
.info__remove-button:hover {
  transform: scale(1.2);
 
}


