

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  width: 320px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 12px;
  z-index: 1000;
}



.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}



.cart-image {
  width: 50px;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.cart-info {
  flex: 1;
}

.cart-name {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.cart-price {
  font-size: 13px;
  color: #555;
}

/* Mantener estilo de items */
.cart-item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}


.cart-add-button ,.cart-remove-button {
  background: none;
  border: none;
  cursor: pointer; /*convierte el raton en una mano*/
  font-size: 20px; /*tamaño del icono*/
  position: relative;

}

.cart-add-button :hover ,.cart-remove-button :hover {
  transform: scale(1.2);
}
