.cart-title {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}

.cart-empty {
  font-size: 14px;
  color: #777;
}



/* Lista scrollable */
.cart-list-scroll {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px; /* altura máxima de la lista */
  overflow-y: auto;  /* scroll vertical si excede la altura */
}


.cart-list-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
}

/* Scroolbar bonito */
.cart-list-scroll::-webkit-scrollbar {
  width: 6px;
}

/* Botón "Ver carrito" siempre visible abajo */
.cart-view-btn {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0; /* para que no se reduzca */
}

