.containerHome {
  background-color: gray;
  border-radius: 8px;
  margin: 0 auto;    
  gap: 1rem;  
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.containerHome__intro{
  
background-color: #8e8e8e; /* El color gris va aquí */
  color: black;
  width: 90%;
  max-width: 700px; /* Ajustado para que sea más ancho como en la imagen */
  padding: 3rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Opcional: para darle un toque de profundidad */
  
}

.containerHome__intro h1,
.containerHome__intro h3 {
  font-weight: bold;
  margin: 1%;
}

.containerHome__loader {
  margin: auto;
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.containerHome__button--catalog{
  background-color: green;
  margin: 1%;
}
